@import 'todolists';
@import 'addtodos';
@import 'todolist';
@import 'todo';

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  background-color: #F6F5F5;
  font-family: 'Quicksand', sans-serif;
  cursor: default;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list-wrapper {
  width: 400px;
  margin: 80px auto 0 auto;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

  h1 {
    height: 80px;
    width: 100%;
    border-bottom: 2px dotted #E6E6E6;
    line-height: 80px;
    font-size: 24px;
    text-align: center;
    color: #3C3C3C;
  }

  input {
    border: 1px solid #B9B8B8;
    border-radius: 4px;
    padding: 8px;
  }

  input::-webkit-input-placeholder {
    color: #A1A1A1;
  }
   
  input:-moz-placeholder {
    /* Firefox 18- */
    color: #A1A1A1;
  }
   
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: #A1A1A1;
  }

  input:-ms-input-placeholder {
    color: #A1A1A1;
  }

  button {
    border: 1px solid #B9B8B8;
    border-radius: 4px;
    background-image: linear-gradient(bottom, #DFDEDE 50%, #ECEBEA 50%);
    background-image: -o-linear-gradient(bottom, #DFDEDE 50%, #ECEBEA 50%);
    background-image: -moz-linear-gradient(bottom, #DFDEDE 50%, #ECEBEA 50%);
    background-image: -webkit-linear-gradient(bottom, #DFDEDE 50%, #ECEBEA 50%);
    background-image: -ms-linear-gradient(bottom, #DFDEDE 50%, #ECEBEA 50%);
  }
}
