.todolist {
  width: 100%;
  margin-bottom: 60px;

  .todo:nth-child(odd) {
    background-color: #F4F7FA;
  }

  .completed {
    text-decoration: line-through;
    text-decoration-color: #989898;
  }
}
